body {
  font-family: "Roboto Slab", serif;
  font-size: 100%;
  color: #000;
  overflow: hidden;
  margin: auto;
  background-color: #ffffff;
  background-image: url("data:image/svg+xml,%3Csvg width='60' height='60' viewBox='0 0 60 60' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M54.627 0l.83.828-1.415 1.415L51.8 0h2.827zM5.373 0l-.83.828L5.96 2.243 8.2 0H5.374zM48.97 0l3.657 3.657-1.414 1.414L46.143 0h2.828zM11.03 0L7.372 3.657 8.787 5.07 13.857 0H11.03zm32.284 0L49.8 6.485 48.384 7.9l-7.9-7.9h2.83zM16.686 0L10.2 6.485 11.616 7.9l7.9-7.9h-2.83zm20.97 0l9.315 9.314-1.414 1.414L34.828 0h2.83zM22.344 0L13.03 9.314l1.414 1.414L25.172 0h-2.83zM32 0l12.142 12.142-1.414 1.414L30 .828 17.272 13.556l-1.414-1.414L28 0h4zM.284 0l28 28-1.414 1.414L0 2.544V0h.284zM0 5.373l25.456 25.455-1.414 1.415L0 8.2V5.374zm0 5.656l22.627 22.627-1.414 1.414L0 13.86v-2.83zm0 5.656l19.8 19.8-1.415 1.413L0 19.514v-2.83zm0 5.657l16.97 16.97-1.414 1.415L0 25.172v-2.83zM0 28l14.142 14.142-1.414 1.414L0 30.828V28zm0 5.657L11.314 44.97 9.9 46.386l-9.9-9.9v-2.828zm0 5.657L8.485 47.8 7.07 49.212 0 42.143v-2.83zm0 5.657l5.657 5.657-1.414 1.415L0 47.8v-2.83zm0 5.657l2.828 2.83-1.414 1.413L0 53.456v-2.83zM54.627 60L30 35.373 5.373 60H8.2L30 38.2 51.8 60h2.827zm-5.656 0L30 41.03 11.03 60h2.828L30 43.858 46.142 60h2.83zm-5.656 0L30 46.686 16.686 60h2.83L30 49.515 40.485 60h2.83zm-5.657 0L30 52.343 22.343 60h2.83L30 55.172 34.828 60h2.83zM32 60l-2-2-2 2h4zM59.716 0l-28 28 1.414 1.414L60 2.544V0h-.284zM60 5.373L34.544 30.828l1.414 1.415L60 8.2V5.374zm0 5.656L37.373 33.656l1.414 1.414L60 13.86v-2.83zm0 5.656l-19.8 19.8 1.415 1.413L60 19.514v-2.83zm0 5.657l-16.97 16.97 1.414 1.415L60 25.172v-2.83zM60 28L45.858 42.142l1.414 1.414L60 30.828V28zm0 5.657L48.686 44.97l1.415 1.415 9.9-9.9v-2.828zm0 5.657L51.515 47.8l1.414 1.413 7.07-7.07v-2.83zm0 5.657l-5.657 5.657 1.414 1.415L60 47.8v-2.83zm0 5.657l-2.828 2.83 1.414 1.413L60 53.456v-2.83zM39.9 16.385l1.414-1.414L30 3.658 18.686 14.97l1.415 1.415 9.9-9.9 9.9 9.9zm-2.83 2.828l1.415-1.414L30 9.313 21.515 17.8l1.414 1.413 7.07-7.07 7.07 7.07zm-2.827 2.83l1.414-1.416L30 14.97l-5.657 5.657 1.414 1.415L30 17.8l4.243 4.242zm-2.83 2.827l1.415-1.414L30 20.626l-2.828 2.83 1.414 1.414L30 23.456l1.414 1.414zM56.87 59.414L58.284 58 30 29.716 1.716 58l1.414 1.414L30 32.544l26.87 26.87z' fill='%23fef2d1' fill-opacity='0.8' fill-rule='evenodd'/%3E%3C/svg%3E");
}

.container {
  top: -2.5em;
}

p {
  padding-left: 0.25em;
  padding-right: 0.25em;
  line-height: 1.3;
  text-align: justify;
}

.card-summary {
  text-align: left;
}

iframe {
  height: 100%;
  min-height: 400px;
  border-radius: 1em;
}

nav {
  width: 100%;
  padding: 0.3em;
  margin: 2.5em 0 0em 0;
  background-color: rgba(255, 255, 255, 0);
  background-size: contain;
}

nav a:hover {
  transition: all 0.2s ease-in-out;
  transform: scale(1.1);
  text-decoration: underline;
}

hr {
  width: 25%;
  border: 1.2px solid gray;
}

ol {
  margin: 1em;
  text-align: justify;
}

.level-item {
  padding-right: 1em;
}

.logo {
  max-height: 60px;
  position: absolute;
  top: 3.2em;
}

.info {
  border-right: 2px solid grey;
  border-left: 2px solid grey;
  margin-bottom: 1em;
  font-size: 1.1em;
}

.more {
  border-right: 2px solid grey;
  border-left: 2px solid grey;
  margin-top: 2em;
  margin-bottom: 3em;
  font-size: 1.1em;
}

img {
  width: 100%;
  border-radius: 0.2em;
}

.blur:hover {
  -webkit-filter: blur(1px);
  filter: blur(1px);
}

.expand {
  text-align: right;
  margin-top: 1em;
}

/* carousel */

/* Slideshow container */
.slideshow-container {
  position: relative;
  margin: auto;
}

.top-right {
  position: absolute;
  bottom: 2em;
  right: 2em;
  font-size: 1.5em;
  text-align: left;
  opacity: 0.9;
  background-color: #fff;
  border-radius: 0.2em;
  padding: 0.7em;
}

.bottomLeftSlide {
  position: absolute;
  bottom: 2em;
  left: 2em;
  font-size: 1.5em;
  text-align: left;
  opacity: 0.9;
  background-color: #fff;
  border-radius: 0.2em;
  padding: 0.7em;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 12px;
  color: white;
  font-weight: bold;
  font-size: 22px;
  transition: 0.6s ease;
  border-radius: 1em;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(239, 251, 255, 0.8);
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1s;
  animation-name: fade;
  animation-duration: 1s;
}

@-webkit-keyframes fade {
  from {
    opacity: 0.7;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade {
  from {
    opacity: 0.7;
  }
  to {
    opacity: 1;
  }
}

/* .bottomBg {
  background: rgb(255, 255, 255);
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 1) 0%,
    rgba(255, 235, 181, 0.253) 100%
  );
  padding: 50px;
  margin: -50px;
} */

/* card overlay */

.content {
  position: relative;
  margin: auto;
  overflow: hidden;
}

.content .content-overlay {
  background: rgba(255, 253, 253, 0.7);
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0em;
  bottom: 0;
  right: 0;
  -webkit-transition: all 0.4s ease-in-out 0s;
  -moz-transition: all 0.4s ease-in-out 0s;
  transition: all 0.4s ease-in-out 0s;
}
.content:hover .content-overlay {
  opacity: 1;
}

.content-details {
  position: absolute;
  width: 100%;
  left: 50%;
  opacity: 0;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -webkit-transition: all 0.3s ease-in-out 0s;
  -moz-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

.content:hover .content-details {
  left: 50%;
  padding: 0.5em 0.7em 0.5em 0.7em;
  opacity: 0.85;
  background-color: rgba(255, 255, 255, 0.842);
  width: 100.1%;
}
.content:hover .content-details p {
  text-align: left;
  font-size: 0.5em;
}

.fadeIn-top {
  top: 30%;
}

/* img popisek */
.contains {
  position: relative;
  text-align: center;
  color: #000;
}

.bottom-left {
  position: absolute;
  bottom: 0.6em;
  left: 0.35em;
  color: #000;
  font-size: 0.6em;
  text-align: left;
  opacity: 0.85;
  background-color: #fff;
  border-radius: 0.2em;
  padding: 0.5em;
  pointer-events: none;
}

/* cenik */
tr,
th {
  padding: 0 2em 0.4em 0em;
  border-bottom: 1px solid black;
}

/* button */
.phone {
  -moz-box-shadow: inset 0px 1px 0px 0px #9acc85;
  -webkit-box-shadow: inset 0px 1px 0px 0px #9acc85;
  box-shadow: inset 0px 1px 0px 0px #9acc85;
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    color-stop(0.05, #74ad5a),
    color-stop(1, #68a54b)
  );
  background: -moz-linear-gradient(top, #74ad5a 5%, #68a54b 100%);
  background: -webkit-linear-gradient(top, #74ad5a 5%, #68a54b 100%);
  background: -o-linear-gradient(top, #74ad5a 5%, #68a54b 100%);
  background: -ms-linear-gradient(top, #74ad5a 5%, #68a54b 100%);
  background: linear-gradient(to bottom, #74ad5a 5%, #68a54b 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#74ad5a', endColorstr='#68a54b',GradientType=0);
  background-color: #74ad5a;
  border: 1px solid #3b6e22;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-size: 20px;
  padding: 6px 12px;
  margin: 0.5em 1em 0em 1em;
  text-decoration: none;
  border-radius: 0.2em;
}
.phone:hover {
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    color-stop(0.05, #68a54b),
    color-stop(1, #74ad5a)
  );
  background: -moz-linear-gradient(top, #68a54b 5%, #74ad5a 100%);
  background: -webkit-linear-gradient(top, #68a54b 5%, #74ad5a 100%);
  background: -o-linear-gradient(top, #68a54b 5%, #74ad5a 100%);
  background: -ms-linear-gradient(top, #68a54b 5%, #74ad5a 100%);
  background: linear-gradient(to bottom, #68a54b 5%, #74ad5a 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#68a54b', endColorstr='#74ad5a',GradientType=0);
  background-color: #68a54b;
}
.phone:active {
  position: relative;
  top: 1px;
}

.facebook {
  -moz-box-shadow: inset 0px 1px 0px 0px #7a8eb9;
  -webkit-box-shadow: inset 0px 1px 0px 0px #7a8eb9;
  box-shadow: inset 0px 1px 0px 0px #7a8eb9;
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    color-stop(0.05, #637aad),
    color-stop(1, #5972a7)
  );
  background: -moz-linear-gradient(top, #637aad 5%, #5972a7 100%);
  background: -webkit-linear-gradient(top, #637aad 5%, #5972a7 100%);
  background: -o-linear-gradient(top, #637aad 5%, #5972a7 100%);
  background: -ms-linear-gradient(top, #637aad 5%, #5972a7 100%);
  background: linear-gradient(to bottom, #637aad 5%, #5972a7 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#637aad', endColorstr='#5972a7',GradientType=0);
  background-color: #637aad;
  border: 1px solid #314179;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-size: 20px;
  padding: 6px 12px;
  margin: 0.5em 0.27em auto 3.3em;
  border-radius: 0.2em;
  text-decoration: none;
}
.facebook:hover {
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    color-stop(0.05, #5972a7),
    color-stop(1, #637aad)
  );
  background: -moz-linear-gradient(top, #5972a7 5%, #637aad 100%);
  background: -webkit-linear-gradient(top, #5972a7 5%, #637aad 100%);
  background: -o-linear-gradient(top, #5972a7 5%, #637aad 100%);
  background: -ms-linear-gradient(top, #5972a7 5%, #637aad 100%);
  background: linear-gradient(to bottom, #5972a7 5%, #637aad 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#5972a7', endColorstr='#637aad',GradientType=0);
  background-color: #5972a7;
}
.facebook:active {
  position: relative;
  top: 1px;
}

.buttonFlex {
  display: flex;
}
.buttonCenter {
  float: right;
}

/* expanding grid */

.expanding-grid {
  position: relative;
  width: 100%;
}
.expanding-grid .links {
  display: block;
  margin: 0;
  overflow: hidden;
  padding: 0.7em 0;
}
.expanding-grid .links > li {
  box-sizing: border-box;
  float: left;
  padding: 0.7em;
}
.expanding-grid .links > li a {
  background: rgba(255, 255, 255, 0);
  color: rgba(255, 255, 255, 0);
  display: block;
  font-size: 2em;
  line-height: 1;
  position: relative;
  text-align: center;
  text-decoration: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  transition: all 0.5s ease;
}
.expanding-grid .links > li a:hover {
  transition: all 0.3s ease-in-out;
  background: rgb(255, 255, 255);
  transform: scale(1.05);
}
.expanding-grid .links > li a.active {
  background: rgb(255, 255, 255);
  transform: scale(1.1);
}
.expanding-grid .links > li a.active:after {
  background-color: transparent;
  border-bottom: 0.375em solid #888;
  border-left: 0.375em solid transparent;
  border-right: 0.375em solid transparent;
  bottom: -0.5em;
  content: "";
  height: 0;
  left: 50%;
  margin-left: -0.375em;
  position: absolute;
  width: 0;
}
@media only screen and (max-width: 39.99em) {
  .expanding-grid .links > li {
    width: 50%;
  }
  .expanding-grid .links > li:nth-of-type(2n + 1) {
    clear: left;
  }
}
@media only screen and (min-width: 40em) and (max-width: 59.99em) {
  .expanding-grid .links > li {
    width: 33.3333333333%;
  }
  .expanding-grid .links > li:nth-of-type(3n + 1) {
    clear: left;
  }
}
@media only screen and (min-width: 60em) {
  .expanding-grid .links > li {
    width: 25%;
  }
  .expanding-grid .links > li:nth-of-type(4n + 1) {
    clear: left;
  }
}
.expanding-grid .spacer {
  background-color: rgba(204, 239, 255, 1);
  clear: both;
  display: block;
  margin: 0 1em;
}
.expanding-grid .expanding-container {
  clear: both;
  display: none;
  overflow: hidden;
  width: 100%;
}
.expanding-grid .expanding-container.expanded,
.expanding-grid .expanding-container:target {
  display: block;
}
.expanding-grid .hentry {
  background: rgb(255, 255, 255);
  box-sizing: border-box;
  clear: both;
  min-height: 4em;
  overflow: hidden;
  padding: 2em;
  width: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  border: 2px solid gray;
}
.expanding-grid .hentry .entry-image {
  box-sizing: border-box;
  float: right;
  margin-left: 1em;
  padding: 0.25em 0 0.52em 1em;
  text-align: center;
  width: 50%;
}
.expanding-grid .hentry .entry-title {
  font-size: 1.5em;
  margin-bottom: 1em;
}
.expanding-grid .close-button {
  display: inline-block;
  height: 2em;
  color: #000;
  text-decoration: underline;
  line-height: 1;
  overflow: hidden;
  padding: 1.5em 2em;
  white-space: nowrap;
  will-change: opacity;
  z-index: 5;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.expanding-grid .close-button.active {
  transition: opacity 0.2s;
}
.expanding-grid .close-button:hover {
  opacity: 0.5;
}

.img-placeholder {
  background: rgb(250, 250, 250);
  color: #fff;
  font-size: 4em;
  font-weight: 300;
  line-height: 1;
  padding: 25% 0.25em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@media only screen and (max-width: 1024px) {
  .kontakt-button-fold {
    display: block;
    padding: 0 0 1em 6em;
  }
  .btn {
    font-size: 1em;
    padding: 0.6em;
  }
  .kontakt-small {
    padding-left: 10%;
  }
  .content:hover .content-details p {
    text-align: left;
    font-size: 0.4em;
  }
  .bottom-left {
    font-size: 0.5em;
  }
}

@media only screen and (max-width: 768px) {
  .kontakt-button-fold {
    display: block;
    padding: 0 0 1em 2em;
  }
  .expanding-grid .links > li {
    box-sizing: border-box;
    float: left;
    padding: 0.2em;
    padding-bottom: 0.5em;
  }
  .logo {
    display: none;
  }
  /* Slideshow container */
  .slideshow-container {
    position: relative;
    margin: auto;
  }

  .carousel {
    height: 50vh;
    object-fit: cover;
    object-position: 45% 0;
  }
  .top-right {
    position: absolute;
    bottom: 1em;
    right: 1em;
    font-size: 1em;
    text-align: left;
    opacity: 0.9;
    background-color: #fff;
    border-radius: 0.2em;
    padding: 1em;
  }

  .bottomLeftSlide {
    position: absolute;
    bottom: 1em;
    left: 1em;
    font-size: 1em;
    text-align: left;
    opacity: 0.9;
    background-color: #fff;
    border-radius: 0.2em;
    padding: 0.5em;
  }
}

@media only screen and (max-width: 525px) {
}
